/* body
 {
  background-color: antiquewhite;
  background-image: url("..//images/images/disney.png");
  background-repeat: no-repeat;
  background-attachment: scroll; */

div {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(24, 21, 21);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  {
    background-color: white;
     color: brown;
     background-image: url("../images/images/disney.png");
     background-repeat: no-repeat;
     height: 668px;
     width: 750px;
  }
    
    