/* CSS COMMENTING */
/* THIS IS EXTERNAL STYLING */

h1 {background-color: green;}
p { color: rgb(167, 59, 152);}
 


  /* .welcomeheading {
    background-color: rgb(17, 10, 1);
    color: darkorchid;
  }
  .paradescription {
    background-color: rgb(143, 58, 9);
    font-size: x-large;
  }
  
  .welcomeheading_2 {
    background-color: rgb(66, 44, 126);
    color: rgb(36, 11, 28);
  }
  .paradescription_2 {
    background-color: rgb(146, 127, 43);
    font-size: x-large;
    color: aliceblue;
  } */
  
  /*  
  id -1
  classes -2 
  tags -3 
  */